.content_aboutUs{
    width:100%;
    height:auto;
}
.page_header_img{
    width:100%;
    height: auto;
}
.min_nav{
    width:auto;
    max-width: 1200px;
    margin:0 auto;
    height:30px;
}
.min_nav span,
.min_nav a{
    color:#333;
    font-size:12px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
}

/* tab */
.page_tab{
    width: auto;
    max-width: 1200px;
    margin:0 auto;
    font-size:0;
    margin-bottom:50px;
}
.page_tab_nav{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin:24px 5% 0 0;
}
.page_tab_nav li{
    width:100%;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    font-size: 14px;
    border-bottom:1px solid #ccc;
    cursor: pointer;
}

.page_tab_nav .active{
    background: #ccc;
}

.page_tab_content{
    width: 75%;
    display: inline-block;
    vertical-align: top;
    max-width: 900px;
}

.page_tab_content li{
    display: none;
}
.page_tab_content .active{
    display: block;
}
.page_tab_content li h2{
    color:#0EC5AB;
    font-size:36px;
    height:40px;
    line-height: 40px;
    padding-bottom:12px;
    margin:24px 0 12px 0;
    border-bottom:1px solid #ccc;
}
.page_tab_content li p {
    font-size: 15px;
    line-height: 22px;
    color:#333;
}

.page_tab_content li p span{
    display: block;
    line-height: 22px;
    padding:4px 0;
}


.page_tab_content li .list_p {
    padding:20px;
}

.page_tab_content li .list_p:before {
    content: '12';
    color: transparent;
    background: url(/static/images/arrow-left.png) no-repeat center center;
}

.page_tab_content li p span {
    display: block;
    line-height: 22px;
    padding: 4px 0;
}

.page_tab_content li>p{
    padding:15px 0;
}

.career_wrap ul{
    width:100%;
    height: auto;
}
.career_wrap ul li{
    display: block;
    width:100%;
    height: auto;
    font-size: 14px;
    padding-left: 40px;
    line-height: 30px;
}

.career_wrap ul li::before {
    content: "·";
    display: inline-block;
    vertical-align: middle;
    width:6px;
    height:6px;
    margin-right:6px;
    background: #ccc;
    color:transparent;
}