.content_aboutUs{
    width:100%;
    height:auto;
}
.page_header_img{
    width:100%;
    height: auto;
}
.min_nav{
    width:auto;
    max-width: 1200px;
    margin:0 auto;
    height:30px;
}
.min_nav span,
.min_nav a{
    color:#333;
    font-size:12px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
}

/* tab */
.page_tab{
    width: auto;
    max-width: 1200px;
    margin:0 auto;
    font-size:0;
    margin-bottom:50px;
}
.page_tab_nav{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin:24px 5% 0 0;
}
.page_tab_nav li{
    width:100%;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    font-size: 14px;
    border-bottom:1px solid #ccc;
    cursor: pointer;
}

.page_tab_nav .active{
    background: #ccc;
}

.page_tab_content{
    width: 75%;
    display: inline-block;
    vertical-align: top;
    max-width: 900px;
}

.page_tab_content li{
    display: none;
}
.page_tab_content .active{
    display: block;
}
.page_tab_content li h2{
    color:#0EC5AB;
    font-size:36px;
    height:40px;
    line-height: 40px;
    padding-bottom:12px;
    margin:24px 0 12px 0;
    border-bottom:1px solid #ccc;
}
.page_tab_content li p {
    font-size: 15px;
    line-height: 22px;
    color:#333;
}

.page_tab_content li p span{
    display: block;
    line-height: 22px;
    padding:4px 0;
}



.address_wrap{
    width:35%;
    padding-left:5%;
    display:inline-block;
    vertical-align: top;
}
.address_wrap h4{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color:#000;
}
.page_tab_content .address_wrap p {
    font-size: 16px;
    line-height: 24px;
}
#map {
    height: 400px;
    width: 60%;
    display:inline-block;
    vertical-align: top;
}

.document_item{
    width:100%;
    height:auto;
    padding:20px 0;
    border-bottom:1px solid #ccc;
}
.document_item a{
    text-decoration: none;
    font-size: 14px;
    height:24px;
    line-height: 24px;
}
.pdf_file::before{
    content: "1";
    color: transparent;
    width:18px;
    height: 24px;
    background: url(/static/images/pdf.png) no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 10px;
}
.xls_file::before {
    content: "1";
    width:18px;
    height: 24px;
    color: transparent;
    background: url(/static/images/xls.png) no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: 10px;
}

.update_item{
    padding:30px 0;
    border-bottom: 1px solid #ccc;
}
.update_item h3{
    font-size: 16px;
    font-weight: bold;
    padding:15px 0;
}
.update_item p{
    line-height: 20px;
    padding: 10px 0;
    font-size: 14px;
    color: #333
}