.content_aboutUs{
    width:100%;
    height:auto;
}
.page_header_img{
    width:100%;
    height: auto;
}
.min_nav{
    width:auto;
    max-width: 1200px;
    margin:0 auto;
    height:30px;
}
.min_nav span,
.min_nav a{
    color:#333;
    font-size:12px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
}

/* tab */
.page_tab{
    width: auto;
    max-width: 1200px;
    margin:0 auto;
    font-size:0;
    margin-bottom:50px;
}
.page_tab_nav{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin:24px 5% 0 0;
}
.page_tab_nav li{
    width:100%;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    font-size: 14px;
    border-bottom:1px solid #ccc;
    cursor: pointer;
}

.page_tab_nav .active{
    background: #ccc;
}

.page_tab_content{
    width: 75%;
    display: inline-block;
    vertical-align: top;
    max-width: 900px;
}

.page_tab_content li{
    display: none;
}
.page_tab_content .active{
    display: block;
}
.page_tab_content li h2{
    color:#0EC5AB;
    font-size:36px;
    height:40px;
    line-height: 40px;
    padding-bottom:12px;
    margin:24px 0 12px 0;
    border-bottom:1px solid #ccc;
}
.page_tab_content li p {
    font-size: 15px;
    line-height: 22px;
    color:#333;
    padding:10px 0;
}

.page_tab_content li p span{
    display: block;
    line-height: 22px;
    padding:4px 0;
}


.page_tab_content li .list_p {
    padding:5px 20px;
}

.page_tab_content li .list_p:before {
    content: '12';
    color: transparent;
    background: url(.././static/images/images/arrow-left.png) no-repeat center center;
}


/* product */
.product_img {
    width: 50%;
    margin: 0 auto;
    display: block;
}
.product_item{
    font-size: 0;
    border-top:1px solid #ccc;
    padding: 10px 0;
}
.product_item img{
    display: inline-block;
    vertical-align: middle;
    width:25%;
    margin:2%;
}
.product_item a{
    display: inline-block;
    vertical-align: middle;
    width:70%;
    text-decoration: none;
}

.product_item a span:first-child{
    font-size:16px;
    font-weight: bold;
    color:#333;
    line-height: 22px;
    padding:0 0 15px 0;
    display: block;
}
.product_item a span:last-child{
    font-size:14px;
    color:#333;
    line-height: 20px;
    display: block;
}



/* fluorides */
.fluorides_item{
    padding-top:20px;
}
.fluorides_item h3{
    font-size: 28px;
    color: #0EC5AB;
    line-height: 38px;
    padding:15px 0;
    border-top:1px solid #ccc;
}
.fluorides_item .right{
    float:right;
    width:35%;
    margin:2%;
}
.fluorides_item  .center_p {
    width:100%;
    text-align: center;
    color:#000;
    font-style: italic;
    font-size: 16px;
    padding:15px;
}
.more_data{
    font-size: 16px;
    text-decoration: none;
    padding:20px 0;
    display: block;
}

/* hafnium */

.hafnium_item{
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.page_tab_content li .hafnium_item p {
    padding: 10px 0;
}
.hafnium_item h3 {
    font-size: 28px;
    color: #0EC5AB;
    line-height: 38px;
    padding: 15px 0;
   
}
.hafnium_item .right {
    float: right;
    width: 35%;
    margin: 2%;
}

/* glasses */
.glasses_item{
    
}

.divding_title{
    font-size: 28px;
    color: #0EC5AB;
    padding:30px 0 25px 0;
    margin-top:15px;
    border-top:1px solid #ccc;
}

.pic_wrap{
    text-align: center;
    widows: 100%;
    margin: 15px 0;
}
.pic_wrap img{
    width:40%;
}
.pic_wrap p {
    font-size:12px;
    text-align: center;
    padding:5px 0;
}
.perovskites_item h4,
.halides_item h4{
    font-size:16px;
    color:#333;
    margin:15px 0;
    font-weight: bold;
}




.middle_img{
    width:60%;
    display: block;
    margin:10px auto;
}

/*  */
.right {
    float: right;
    width: 35%;
    margin: 2%;
}
.rect_list_wrap ul {
    width: 100%;
    height: auto;
}

.rect_list_wrap ul li {
    display: block;
    width: 100%;
    height: auto;
    font-size: 14px;
    padding-left: 40px;
    line-height: 30px;
}

.rect_list_wrap ul li::before {
    content: "·";
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin-right: 6px;
    background: #ccc;
    color: transparent;
}
